<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFile/stylesheets/style.css">
</head>
<header>
    <img src="../StaticFile/Images/header/UNCC-Header.png" class="landingHeaderIMG">
    
</header>
<body>

</body>

<footer>
    <img src="../StaticFile/Images/footer/Start of Footer.png" class="footerIMG1">
    <img src="../StaticFile/Images/footer/Footer End.png" class="footerIMG2">
</footer>
