<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFile/stylesheets/style.css">

    <!-- Title and Favicon Below-->
    <title>Landing Page</title>
    <link rel="icon" type="image/x-icon" href="../StaticFile/Images/UNCC-Favicon.ico">
</head>
<header>
    <img src="../StaticFile/Images/header/UNCC-Header.png" class="landingHeaderIMG">
</header>
<body>
    <!-- Main content section with buttons -->
    <div class="index-container">
        <!-- Title -->
        <h1 class="index-header">Welcome to the Roommate Compatibility Survey</h1>

        <!-- Admin Button -->
        <div class="admin-container">
            <a href="#"" class="admin">Admin</a>
        </div>

        <!-- Button Container -->
        <div class="button-container">
            <a href="#" class="custom-button">Apply For Housing or Update / View an Existing Application</a>
            <a href="#" class="custom-button">View or Change Room Assignments and Roommate Groups</a>
            <a href="#" class="custom-button">Pay Housing Fee</a>
            <a href="#" class="custom-button">Submit Housing Cancellation Request</a>
            <a href="#" class="custom-button">Request Loan or Replacement Key</a>
            <a href="#" class="custom-button">Room Condition Report</a>
        </div>
         <!-- Survey and Responses buttons -->
         <div class="button-container">
            <a href="{{ url_for('survey') }}" class="custom-button">Take the Survey</a>
            <a href="{{ url_for('display_responses') }}" class="custom-button">View Responses</a>
        </div>

        <!-- Logout Button -->
        <div class="logout-container">
            <a href="#" class="custom-button">Logout</a>
        </div>

        <!-- Simulate Responses section -->
        <div class="simulate-container">
            <h2>Simulate Survey Responses</h2>
            <form action="{{ url_for('simulate_responses') }}" method="POST" id="simulate-form">
                <!-- Submit button -->
                <button type="submit" class="custom-button">Simulate Responses</button>
                <label for="num_responses">Number of Responses to Simulate:</label>
                <input type="number" id="num_responses" name="num_responses" min="1" max="1000" required>
            </form>
        </div>
    </div>
</body>
<footer>
    <img src="../StaticFile/Images/footer/Start of Footer.png" class="footerIMG1">
    <img src="../StaticFile/Images/footer/Footer End.png" class="footerIMG2">
</footer>
</html>