<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link href="/StaticFile/stylesheet/style.css" rel="stylesheet">
</head>
<body>
   <!-- Upper Header with Search Bar -->
<div class="up-nav-bar">
    <a href="#">Alumni & Friends</a>
    <a href="#">Community</a>
    <a href="#">Current Students</a>
    <a href="#">Faculty & Staff</a>
    <a href="#">Parents & Family</a>
    <a href="#">Prospective Students</a>

    <!-- Search Bar added within the up-nav-bar -->
    <div class="search-box">
        <p class="cr">Campus Resources</p>
        <input type="text" placeholder="Enter search term here">
        <button>Search</button>
    </div>
</div>
    

    <!-- Main Header -->
        <div class="main-header">
            <div class="logo-title">
                <div class="logo">
                    <img src="/StaticFile/images/logo.png" alt="Logo">
                    <p class="charlotte">Charlotte</p>
                </div>
                <div>
                    <h1>Housing and Residence Life</h1>
                    <p class="sub-text">Division of Student Affairs</p>
                </div>
            </div>
    </div>

        <!-- Border-->
        <div class="bottom-border"></div>

        <!-- Navigation Bar -->
        <div class="nav-bar">
            <a href="#">Home</a>
            <a href="#">Housing Options</a>
            <a href="#">On Campus Living</a>
            <a href="#">Apply</a>
            <a href="#">Conference & Intern Housing</a>
            <a href="#">About Us</a>
            <a href="#">Employment</a>
        </div>

        <!-- Social Icons -->
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>

</body>
    <footer>
    </footer>
</html>