<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../StaticFile/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../StaticFile/script.js" defer></script>
    
    <!-- Title and Favicon Below-->
    <title>Roommate Compatibility Survey</title>
    <link rel="icon" type="image/x-icon" href="../StaticFile/Images/UNCC-Favicon.ico">
</head>
<header>
    <div>
        <img src="../StaticFile/Images/header/UNCC-White-Logo.png" class="surveyHeaderIMG">
    </div>
</header>
<body>
    <!-- Back Button -->
    <a href="{{ url_for('index') }}" class="back-button">Back</a>
    <div class="survey-container">
        <div class="survey-box">
            <div class="survey-section">

                 <!-- Back Button -->
                <div class="back-button-container">
                    <button onclick="history.back()" class="back-button">← Back</button>
                </div>

                <div class="survey-header">
                    <h2>Roommate Compatibility Survey</h2>
                </div>
                
                <!-- Update the form to submit to the userResponses route -->
                <form action="/user" method="POST"> 
                {% for question in all_questions %}
                {% set options = question.options.split(", ") %}
                {% if question.questiontype == 1 %}
                <h3 class="question-header">{{question.text}}</h3>
                <div class="selection-box">
                    {% for option in options[1:] %}
                    <label class="custom-radio">
                        <span style="text-transform: capitalize;">{{option}}</span>
                        <input type="radio" name="{{question.id}}" value="{{option}}" required>
                    </label>
                    {% endfor %}
                </div>
                {% elif question.questiontype == 2 %}
                <!-- Question 2 -->
                <div class="container">
                    <h3 class="question-header">What is your major?</h3>
                    <div class="selection-box">
                        <input type="text" id="search" class="major-input" placeholder="Enter your Major" onkeyup="filterMajors()" required></input>
                        <select id="majorSelect" size="10" onclick="selectMajor()">
                            <option>Accounting</option>
                            <option>African-American/Black Studies</option>
                            <option>Allied Health Diagnostic, Intervention, and Treatment Professions</option>
                            <option>Anthropology</option>
                            <option>Architecture</option>
                            <option>Art History, Criticism and Conservation</option>
                            <option>Art/Art Studies</option>
                            <option>Biology/Biological Sciences</option>
                            <option>Business Administration and Management</option>
                            <option>Business/Managerial Economics</option>
                            <option>Chemistry</option>
                            <option>Civil Engineering</option>
                            <option>Civil Engineering Technology/Technician</option>
                            <option>Computer Engineering</option>
                            <option>Computer Science</option>
                            <option>Criminal Justice/Safety Studies</option>
                            <option>Dance</option>
                            <option>Drama and Dramatics/Theatre Arts</option>
                            <option>Economics</option>
                            <option>Electrical and Electronics Engineering</option>
                            <option>Electrical, Electronic and Communications Engineering Technology/Technincial</option>
                            <option>Elementary Education and Teaching</option>
                            <option>Engineering Technologies and Engineering-Related Fields</option>
                            <option>English Language and Literature</option>
                            <option>Exercise Physiology</option>
                            <option>Finance</option>
                            <option>Fine/Studio Arts</option>
                            <option>French Language and Literature</option>
                            <option>Geography</option>
                            <option>Geology/Earth Science</option>
                            <option>German Language and Literature</option>
                            <option>Graphic Design</option>
                            <option>Health and Physical Education/Fitness</option>
                            <option>Health/Health Care Administration/Management</option>
                            <option>History</option>
                            <option>Information Technology</option>
                            <option>International Business/Trade/Commerce</option>
                            <option>International/Global Studies</option>
                            <option>Japanese Language and Literature</option>
                            <option>Junior High/Intermediate/Middle School Education and Teaching</option>
                            <option>Kindergarten/Preschool Education and Teaching</option>
                            <option>Latin American Studies</option>
                            <option>Management Science</option>
                            <option>Marketing/Marketing Management</option>
                            <option>Mathematics</option>
                            <option>Mathematics and Computer Science</option>
                            <option>Mathematics and Statistics</option>
                            <option>Mechanical Engineering</option>
                            <option>Mechanical Enineering/Mechanical Technology/Technician</option>
                            <option>Meteorology</option>
                            <option>Music</option>
                            <option>Music Performance </option>
                            <option>Operations Management and Supervision</option>
                            <option>Philosophy</option>
                            <option>Physics</option>
                            <option>Political Science and Government</option>
                            <option>Psychology</option>
                            <option>Public Health</option>
                            <option>Registered Nursing/Registered Nurse</option>
                            <option>Religion/Religious Studies</option>
                            <option>Respiratory Care Therapy/Therapist</option>
                            <option>Social Work</option>
                            <option>Sociology</option>
                            <option>Spanish Language and Literature</option>
                            <option>Special Education and Teaching</option>
                            <option>Speech Communication and Rhetoric</option>
                            <option>Systems Engineering</option>
                        </select>
                    </div>
                </div>
                {% elif question.questiontype == 3 %}
                <!-- Question 4 -->
                <div class="question-container">
                    <h3 class="question-header">
                        {{question.text}}<br>
                        <span class="smaller-text">(1 = Not Comfortable, 5 = Very Comfortable)</span>
                    </h3> 
                    <div class="share-selection-box">
                        <label class="custom-circle-radio">
                            <input type="radio" name="{{question.id}}" value="1" required>
                            <span>1</span>
                        </label>
                        <label class="custom-circle-radio">
                            <input type="radio" name="{{question.id}}" value="2" required>
                            <span>2</span>
                        </label>
                        <label class="custom-circle-radio">
                            <input type="radio" name="{{question.id}}" value="3" required>
                            <span>3</span>
                        </label>
                        <label class="custom-circle-radio">
                            <input type="radio" name="{{question.id}}" value="4" required>
                            <span>4</span>
                        </label>
                        <label class="custom-circle-radio">
                            <input type="radio" name="{{question.id}}" value="5" required>
                            <span>5</span>
                        </label>
                    </div>
                </div>
                {% else %}
                <!-- Question 7 -->
                <h3 class="question-header">{{question.text}}</h3>
                <div class="selection-box">
                    {% for option in options[1:] %}
                    <label class="custom-checkbox">
                        <input type="checkbox" name="{{question.id}}" value="{{option}}">
                        <span style="text-transform: capitalize;">{{option}}</span>
                    </label>
                    {% endfor %}
                </div>
                {% endif %}
                    

                    



                

                    
                {% endfor %}
                    <!-- Submit button -->
                    <button type="submit" class="custom-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Left Sidebar -->
    <div class="sidebar-left">
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/housing-options/housing-tours" target="_blank">
                <img src="../StaticFile/images/sidebar/housing_tours.png" alt="Housing Tours" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/residence-halls" target="_blank">
                <img src="../StaticFile/images/sidebar/residence_halls.png" alt="Residence Halls" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/campus-living/supporting-our-residents" target="_blank">
                <img src="../StaticFile/images/sidebar/requesting_assistance.png" alt="Requesting Assistance" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/apply/rates" target="_blank">
                <img src="../StaticFile/images/sidebar/housing_room_rates.png" alt="Housing Room Rates" class="sidebar-img">
            </a>
        </div>
    </div>
    <!-- Right Sidebar -->
    <div class="sidebar-right">
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/apply/calendars-and-dates" target="_blank">
                <img src="../StaticFile/images/sidebar/important_dates.png" alt="Important Dates" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/about-us/important-phone-numbers" target="_blank">
                <img src="../StaticFile/images/sidebar/useful_phone_numbers.png" alt="Useful Phone Numbers" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/campus-living/maintenance-requests" target="_blank">
                <img src="../StaticFile/images/sidebar/maintenance_requests.png" alt="Maintenance Requests" class="sidebar-img">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="https://housing.charlotte.edu/about-us/faqs" target="_blank">
                <img src="../StaticFile/images/sidebar/housing_questions.png" alt="Housing Questions" class="sidebar-img">
            </a>
        </div>
    </div>
</body>
</html>
